watchdog
Kivy~=2.2.0
kivymd @ https://github.com/kivymd/KivyMD/archive/a85adc5ee4ee2178b7d353a260f2cbcefce885c7.zip
pygame
Pillow~=9.4.0
requests~=2.28.2
multitasking~=0.0.11
javaobj-py3==0.4.3
pycryptodomex==3.17
protobuf==4.21.12
emoji